<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="FILE_DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/debug.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="debug"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="FILE_INFO" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/info.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="info"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="info"/>
        <param name="Encoding" value="UTF-8"/>
        <param name="Follow" value="true"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] [%c{1}] %m%n"/>
        </layout>
    </appender>

    <logger name="org.dbunit.dataset.AbstractTableMetaData" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="FILE_DEBUG"/>
        <appender-ref ref="FILE_INFO"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root>
        <appender-ref ref="FILE_DEBUG"/>
        <appender-ref ref="FILE_INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>